[Unit]
  Description=Kusama validator
  StartLimitIntervalSec=500
  StartLimitBurst=5

[Service]
  User=
  Group=
  Restart=on-failure
  RestartSec=5s
ExecStart=/usr/bin/polkadot \
  --validator \
  --chain kusama \
  --name '' \
  --unsafe-pruning \
  --pruning=1000 \
  --telemetry-url 'wss://telemetry.polkadot.io/submit/ 1'
Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
